
<div class="main_about">
    <div class="about_image" style="height:250px;width:400px;float:left;">
        <img class="image1" style="width: 100%;height: 100%;" ng-src="images/{{imageforthispage.image_path}}" />
    </div>
    <div style="height:250px;width:310px;float:left;margin-left:40px;text-align:center;margin-right:200px;">
        {{imageforthispage.product_description}}
    </div>
</div>


<div style="float:left;width:950px;"  ng-show="pruchase">
<form name="pruchaseDetails" class="form-horizontal" style="margin:20px auto;width:300px;">
  <fieldset>
    <legend>Pruchase Details:</legend>
    <div class="form-group" style="width:280px;margin-left:10px;">
      <label for="inputFirstName" class="control-label">First Name:</label>

        <input ng-model="firstname" class="form-control" placeholder="First Name" type="text">

      <label for="inputLastName" class="control-label">Last Name:</label>

        <input ng-model="lastname" class="form-control" placeholder="Last Name" type="text">

      <label for="inputEmail" class="control-label">Email:</label>

        <input ng-model="email" class="form-control" placeholder="Email" type="text">

      <label for="inputCreditCard" class="control-label">Credit Card:</label>

        <input ng-model="creditcard" class="form-control" placeholder="Credit Card" type="text">
        <br/>
        <button ng-click="clickme()" style="float:right;" class="btn btn-primary">Go To Review</button>
      </div>
  </fieldset>
</form>
</div>
<div ng-show="showme" style="float:left;width:950px;">
    <div style="margin:20px auto;width:300px;">
    <h3>Review Your Details:</h3>
        First Name:{{firstname}}<br>
        Last Name:{{lastname}}<br>
        Email Address:{{email}}<br>
        Credit Card:{{creditcard}}<br>
     <button ng-click="buyfinally()" style="float:right;" class="btn btn-primary">Buy</button>

    </div>


</div>